h1{
    font-size: 36px;
    color: #2D1E2F;
    font-weight: bold;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    padding: 8px;
}

/* https://www.w3schools.com/howto/howto_css_image_responsive.asp */
img{
    width: 100%;
    height: auto;
}


.flex{
    display: flex;
}

.bold{
    font-weight: bold;
}

/* Header section styling */
.container-header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 10% 1fr 1fr 10%;
    justify-items: center;
    align-items: center;
    background-color: #A9E5BB;
    font-family: 'Montserrat', sans-serif;
}
    .col-logo{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .col-links{
        grid-row-start: 1;
        grid-column-end: 4;
    }
    .links li a{
        padding: 4px;
        text-decoration: none;
        font-weight: bold;
        color: gray;
        
    }
    .col-contact{
        grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: span 2;
            display: flex;
        }
        .col-contact li{
            padding: 0px 8px 0px 8px;
            
        }
        
/* Main section styling */
.container-main{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns:  1fr 1fr;
    /* background-color: #FCF6B1; */
    /* grid-auto-flow: row; */
    padding: 10px 20px 10px 20px;
}
    
    .main-title{
        grid-row-start:1;
        grid-column-start: 1;
        grid-column-end: span 2;
        align-self: center;
        justify-self: center;
        font-family: 'Bebas Neue', cursive;
        padding: 8px;
    }
    
    .main-row-1{
        display: grid;
        grid-row-start: 2;
        justify-items: center;
        padding: 10px 0px 10px 0px;
        
    }
    .main-row-2{
        display: grid; 
        grid-row-start:3;
        justify-items: center;
        padding: 10px 0px 10px 0px;
        
    }
    .project-links li{
        padding: 0px 4px 0px 4px;
    }
    .project-links a{
        padding: 4px;
        text-decoration: none;
        font-weight: bold;
        color: #E3170A;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #E3170A;
        border-radius: 1rem;
    }
/* Footer section styling */
.container-footer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10% auto 10%;
    align-items: center;
    justify-items: center;
    background-color: #2D1E2F;
    font-family: 'Montserrat', sans-serif;
    
}

    .footer-text{
        grid-column-start: 2;
        color: #A9E5BB;
        padding: 8px;
    }