h1{
    font-size: 36px;
    color: #2D1E2F;
    font-weight: bold;
}

.flex{
    display: flex;
}

.bold{
    font-weight: bold;
}

.container-header{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #A9E5BB;
    font-family: 'Montserrat', sans-serif;
}
    .col-logo{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .col-links{
        grid-row-start: 1;
        grid-column-end: 4;
    }
    .links li a{
        padding: 4px;
        text-decoration: none;
        font-weight: bold;
        color: gray;

    }
    .col-contact{
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: span 2;
        display: flex;
    }
    .col-contact li{
        padding: 0px 8px 0px 8px;

    }

.container-main{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    /* background-color: #FCF6B1; */
}

/* .row-footer{
    grid-area: "footer";
} */